# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.ilk
*.pdb
*idb
*.suo
*.tlog

# Precompiled Headers
*.gch
*.pch
*.sdf
*.opensdf

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app